#content {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  color: #666;
  padding: 60px 0 120px;
}

p {
  color: #666;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  margin: 0;
}

a {
  transition: color 0.2s ease-in-out;
}

footer {
  background-color: #222;
  /*padding-top: 60px;*/
  color: #ccc;
  position: relative;
  z-index: 99;
}

footer a {
  color: #666;
}

a, a:hover {
  text-decoration: none;
}

.copyright-section {
  padding: 15px 0;
  font-size: 11px;
  letter-spacing: 0.5px;
  /*border-top: 1px solid rgba(255, 255, 255, .06);*/
  text-align: center;
}

.copyright-section p {
  font-size: 11px;
  /*text-transform: uppercase;*/
}

.copyright-section p a {
  color: #ee3733;
}

.copyright-section p a:hover {
  text-decoration: none;
  color: #fff;
}

.back-to-top {
  position: fixed;
  bottom: 18px;
  right: 15px;
}

.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  background-color: #444;
  transition: all 0.2s ease-in-out;
}

.back-to-top:hover i {
  background-color: #ee3733;
  z-index: 100;
}
