<app-navigation></app-navigation>
<!--main video start-->
<div class="container-fluid">
  <div class="row main-image">
    <app-loading *ngIf='!screenVideo' [size]="'100px'" [style]="{'margin-top': '200px'}"></app-loading>
    <div id="video-block" #video_block>
      <div id="video">
        <video *ngIf="innerWidth > 450"  id="my-video" loop autoplay muted plays-inline>
          <source [src]="screenVideo" async type="video/mp4">
        </video>
        <div class="mobileImg">
          <!--<img [src]="screenImg" alt="office" class="img-responsive">-->
        </div>
        <div class="text-video">
          <h2>
            <span>Welcome to <span style="color: #ee3733;"><strong>ng<span style='color: darkgrey;'>Mates</span></strong></span></span>
          </h2>
          <h3>
            <span><strong>We provide good solutions to your business</strong></span>
          </h3>
          <div class='page-scroll'>
            <a [ngx-scroll-to]="'contact'" class="btn btn-circle">
              <i class="fa fa-paper-plane-o animated"></i>
              <!--<i class="fa fa-angle-double-down animated"></i>-->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--main video end-->

<!--about section start-->
<div id="about" #about>
  <div class="container wow">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="section-title">About Us</h3>
        </div>
        <div class="section-title-divider"></div>
        <h4 class="section-description">NgMates is focused on Angular technology that fits all our customers needs</h4>
      </div>
    </div>
  </div>
  <div class="container about-container wow" >
    <div class="row">
      <div class="col-md-6 about-img">
        <img class="img-responsive" src="../../assets/images/_about_gif.gif" async alt="about-icon">
      </div>

      <div class="col-md-6 about-content">
        <!--<h2 class="about-title text-center">We provide great services and ideas</h2>-->
        <p class="about-text">
          We are a young and prospective company, that's why we care about all of our customers.
          Our Product Managers have expertise in a wide range of industries including Consumer Electronics, E-commerce, Sports & E-sports,
          HoReCa and more to consult you for the best solutions your business need. We are focused on small and middle-sized businesses and provide
          a different type of services, from regular Landing Pages with configured SEO to complex 100+ pages using edge technologies. You will be surprised
          with price range we offer, that is possible because we already have frameworks to speed up our development.
        </p>
        <p class="about-text">
          We are always focused on your needs, that's why our works are so good
        </p>
        <div class='partners'>
          In partnering with
          <a href="https://www.meetup.com/Angular-Lviv/"><span style='white-space: nowrap'>Angular Meetup Lviv</span></a>
          <img src="../../assets/images/alm.png" alt="Angular Lviv Meetup Logo">
        </div>
      </div>
    </div>
  </div>
</div>
<!--about us section end-->

<!--why angular start-->
<div id="whyNg" #whyNg>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="section-title">Why angular?</h3>
        </div>
        <div class="section-title-divider"></div>
        <h4 class="section-description">Angular has many features that allow us to configure apps to be as fast and high preforming as possible</h4>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 side-text'>
        <h3>&#9745; Responsive Design</h3>
        <p>Responsive Web Design makes your web page look good on all devices (desktops, tablets, and phones).
          Depending on type of your website percent of traffic generated through mobile phones and tablet devices can be up to 80% of total number.
          Due to the strong growth of the smartphone market in recent years, this is no surprise, especially as mobile internet often provides a more viable online connection.</p>
      </div>
      <div *ngIf="innerWidth > 450" class='col-md-6'>
        <img src='../../assets/images/_responsive_web_design.gif' async alt='responsive design'>
      </div>
    </div>
    <div class='row'>
      <div *ngIf="innerWidth > 450" class='col-md-6'>
        <img src='../../assets/images/_realtime_data_exchange.gif' async alt='responsive design'>
      </div>
      <div class='col-md-6 side-text'>
        <h3>&#9745; Realtime Data Exchange</h3>
        <p>In a world of Big Data resources intime responce for any actiones do be done on a website would lead to users satisfaction experience.
          Data security, which is also a crutial requirement for any websites, is a part of Angular framework so you don't need to worry about memory leaks.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6 side-text'>
        <h3>&#9745; Seamless Data Loading</h3>
        <p>Thanks to such algorythm called "lazy loading" your website can handle a great amount of information, without any server delays and blank pages.
          Preload all needed information, high-resolution images and videos behind the scenes.
          Current technologies even allow websites to work while being offline.</p>
      </div>
      <div *ngIf="innerWidth > 450" class='col-md-6'>
        <img src='../../assets/images/_preloading_lazyloading.gif' async alt='responsive design'>
      </div>
    </div>
    <div class='row'>
      <div *ngIf="innerWidth > 450" class='col-md-6'>
        <img src='../../assets/images/_custom_design.gif' async alt='responsive design'>
      </div>
      <div class='col-md-6 side-text'>
        <h3>&#9745; Angular Animations</h3>
        <p>Motion is an important aspect in the design of modern web applications.
          Good user interfaces transition smoothly between states with engaging animations that call attention where it's needed.
          Well-designed animations can make a UI not only more fun but also easier to use.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6 side-text'>
        <h3>&#9745; No Additional Page Reloads</h3>
        <p>Got tired from slow websites, even when your internet connection is pretty good?
          Your page is reloading each time you click something on a page?</p>
        <p>With Angular you can overcome this obstacles. Let your users enjoy time spent on your website and come back again and again</p>
      </div>
      <div *ngIf="innerWidth > 450" class='col-md-6'>
        <img src='../../assets/images/_no_additional_page_reloads_2.gif' async alt='responsive design'>
      </div>
    </div>
  </div>
</div>
<!--why angular end-->

<!-- Start Services Section -->
<div class="section service" id="skills" #skills>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="section-title">SERVICES WE PROVIDE
          </h3>
        </div>
        <div class="section-title-divider"></div>
        <h4 class="section-description">We will help you to achieve most of your goals in one place</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <!-- Start Service Icon 1 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center  animated fadeIn delay-01" data-animation="fadeIn" data-animation-delay="01">
        <div class="service-icon">
          <i class="fa fa-leaf icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Custom Development Solutions</h4>
        </div>
      </div>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center  animated fadeIn delay-02" data-animation="fadeIn" data-animation-delay="02">
        <div class="service-icon">
          <i class="fa fa-desktop icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Angular Web Development</h4>
        </div>
      </div>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center  animated fadeIn delay-03" data-animation="fadeIn" data-animation-delay="03">
        <div class="service-icon">
          <i class="fa fa-eye icon-large"></i>
        </div>
        <div class="service-content">
          <h4>UX/UI Design for all Devices</h4>
        </div>
      </div>
      <!-- End Service Icon 3 -->

      <!-- Start Service Icon 4 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-04" data-animation="fadeIn" data-animation-delay="04">
        <div class="service-icon">
          <i class="fa fa-code icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Software Integration</h4>
        </div>
      </div>
      <!-- End Service Icon 4 -->

      <!-- Optional: clear the XS cols if their content doesn't match in height -->
      <div class="clearfix visible-md-block visible-lg-block"></div>

      <!-- Start Service Icon 5 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-05" data-animation="fadeIn" data-animation-delay="05">
        <div class="service-icon">
          <i class="fa fa-rocket icon-large"></i>
        </div>
        <div class="service-content">
          <h4>SEO and Growth Support</h4>
        </div>
      </div>
      <!-- End Service Icon 5 -->

      <!-- Start Service Icon 6 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-06" data-animation="fadeIn" data-animation-delay="06">
        <div class="service-icon">
          <i class="fa fa-tablet icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Angular Cross Platform Development</h4>
        </div>
      </div>
      <!-- End Service Icon 6 -->

      <!-- Start Service Icon 7 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-07" data-animation="fadeIn" data-animation-delay="07">
        <div class="service-icon">
          <i class="fa fa-server icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Domain and Hosting</h4>
        </div>
      </div>
      <!-- End Service Icon 7 -->
      <!-- Start Service Icon 8 -->
      <div class="col-md-3 col-sm-6 col-lg-3 service-box service-center animated fadeIn delay-08" data-animation="fadeIn" data-animation-delay="08">
        <div class="service-icon">
          <i class="fa fa-umbrella icon-large"></i>
        </div>
        <div class="service-content">
          <h4>Support & Maintenance</h4>
        </div>
      </div>
      <!-- End Service Icon 8 -->

    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- End Services Section -->


<!--portfolio section start-->
<div id="portfolio" #portfolio>

  <div class="container wow">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3 class="section-title">Our Latest Works</h3>
        </div>
        <div class="section-title-divider"></div>
        <h4 class="section-description">We listen to our clients - that's why the result is always good</h4>
      </div>
    </div>
  </div>
  <!-- Start Big Heading -->
  <!--<div class="text-center">-->
  <!--<h1 class="section-title">These are Our Latest Works</h1>-->
  <!--</div>-->
  <!--<div class="section-title-divider"></div>-->
  <!--<h4 class="section-description">We listen to our clients - that's why the result is always good</h4>-->
  <ul id="portfolio-list" class="container-fluid">
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/portfolio-1.png" class="img-responsive"  alt="ngmates work PYTT">
      <div class="portfolio-item-content">
        <span class="header">PYTT Living</span>
        <p class="body">web development, design</p>
      </div>
      <a href="https://pytt-living.com/" target="_blank"><i class="more">View</i></a>
    </li>
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/portfolio-8.png" class="img-responsive" alt="ngmates work cybergates.gg">
      <div class="portfolio-item-content">
        <span class="header">Cyber Gates</span>
        <p class="body">Angular web development, design</p>
      </div>
      <a href="https://cybergates.gg" target="_blank"><i class="more">View</i></a>
    </li>
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/portfolio-2.png" class="img-responsive" alt="ngmates work JoinUp">
      <div class="portfolio-item-content">
        <span class="header">JoinUp Lviv</span>
        <p class="body">web development, design</p>
      </div>
      <a href="http://joinuplviv.com/" target="_blank"><i class="more">View</i></a>
    </li>
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/portfolio-3.png" class="img-responsive" alt="ngmates work Leading Minds">
      <div class="portfolio-item-content">
        <span class="header">Leading Minds</span>
        <p class="body">web development, design</p>
      </div>
      <a href="http://leadingminds.co/" target="_blank"><i class="more">View</i></a>
    </li>
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/portfolio-5.png" class="img-responsive" alt="ngmates work Lofting.co">
      <div class="portfolio-item-content">
        <span class="header">Lofting.co</span>
        <p class="body">web development, design</p>
      </div>
      <a href="http://concept.lofting.co/" target="_blank"><i class="more">View</i></a>
    </li>
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/lenovo.jpg" class="img-responsive" alt="ngmates work Lenovo Branded Page">
      <div class="portfolio-item-content">
        <span class="header">Lenovo Gaming</span>
        <p class="body">web design</p>
      </div>
      <a href="https://genyklemberg.github.io/L-files/public/" target="_blank"><i class="more">View</i></a>
    </li>
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/portfolio-6.png" class="img-responsive" alt="ngmates work Api PRO">
      <div class="portfolio-item-content">
        <span class="header">Api PRO</span>
        <p class="body">web development, design</p>
      </div>
      <a href="http://www.apipro.com/" target="_blank"><i class="more">View</i></a>
    </li>
    <li class="col-md-3 col-xs-6">
      <img src="../../assets/images/portfolio-4.png" class="img-responsive" alt="ngmates work Network Tables">
      <div class="portfolio-item-content">
        <span class="header">NetworkTables</span>
        <p class="body">web development, design</p>
      </div>
      <a href="http://www.networktables.com/homeA/" target="_blank"><i class="more">View</i></a>
    </li>
  </ul>
</div>
<!--portfolio section end-->

<!--our team section start-->
<!--<div id="team" class="section">-->
<!--<div class="container">-->
<!--<div class="text-center">-->
<!--<h1 class="section-title">Our Great Team</h1>-->
<!--</div>-->
<!--<div class="section-title-divider"></div>-->
<!--<h4 class="section-description">We do what we love and we hope you'll love it too</h4>-->
<!--<div class="row">-->
<!--<div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-1 animated fadeIn delay-03" data-animation="fadeIn" data-animation-delay="05">-->
<!--<div class="team-member modern">-->
<!--<div class="member-photo">-->
<!--<img alt="" src="../../assets/evg.jpg">-->
<!--<div class="member-name">Yevheniy Potupa<span>Founder/PM</span>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="member-info">&ndash;&gt;-->
<!--&lt;!&ndash;<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat.</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</div>-->
<!--</div>-->
<!--<div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-04" data-animation="fadeIn" data-animation-delay="06">-->
<!--<div class="team-member modern">-->
<!--<div class="member-photo">-->
<!--<img alt="" src="../../assets/oks.jpg">-->
<!--<div class="member-name">Drul Oksana <span>Developer</span>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--<div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-05" data-animation="fadeIn" data-animation-delay="05">-->
<!--<div class="team-member modern">-->
<!--<div class="member-photo">-->
<!--<img alt="" src="../../assets/mar.jpg">-->
<!--<div class="member-name">Mariana Diachok <span>Developer</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-06" data-animation="fadeIn" data-animation-delay="05">-->
<!--<div class="team-member modern">-->
<!--<div class="member-photo">-->
<!--<img alt="" src="../../assets/rox.jpg">-->
<!--<div class="member-name">Roksolana Mykhalenych <span>Developer</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-2 col-sm-6 col-xs-12 animated fadeIn delay-06" data-animation="fadeIn" data-animation-delay="05">-->
<!--<div class="team-member modern">-->
<!--<div class="member-photo">-->
<!--<img alt="" src="../../assets/vova.jpg">-->
<!--<div class="member-name">Volodymyr Kmet <span>Developer</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- Start Contact Form -->
<div id="contact" #contact>
  <div class="text-center">
    <h1 class="section-title">GET IN TOUCH</h1>
  </div>
  <div class="section-title-divider"></div>
  <h4 class="section-description">We love working with new people, please share your details, so that we can assist you!</h4>
  <p></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <h4 class="classic-title"><span>Contact Us</span></h4><form role="form" id="contactForm" data-toggle="validator" class="shake" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <div class="controls">
            <input
              type="text"
              placeholder="*Name"
              required
              name="name"
              #name="ngModel"
              ngModel>
            <div class="help-block with-errors" *ngIf="!name.valid && name.touched">
              <p>Please enter your name</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <input
              type="email"
              class="email"
              placeholder="*Email" required
              name="email"
              email
              ngModel
              #email="ngModel"
            >
            <div class="help-block with-errors"  *ngIf="!email.valid && email.touched">
              <p>Please enter your email</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <input type="text"
                   placeholder="*Subject" required
                   name="subject"
                   ngModel
                   #subject="ngModel"
            >
            <div class="help-block with-errors"  *ngIf="!subject.valid && subject.touched">
              <p>Please enter your message subject</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
              <textarea
                rows="7"
                placeholder="*Message"
                required
                name="message"
                #message="ngModel"
                ngModel></textarea>
            <div class="help-block with-errors"  *ngIf="!message.valid && message.touched">
              <p>Write your message</p>
            </div>
          </div>
        </div>
        <button type="submit" id="submit" class="btn-system btn-large" [disabled]="!f.valid">
          Send
          <span class="tooltiptext">
              &nbsp; &#9762; Please, fill the required fields &nbsp;
            </span>
        </button>
        <!--<div id="msgSubmit" class="h3 text-center" [style.display]="f.submitted ? 'block' : 'none'">-->
        <!--<h1>Message has been sent</h1>-->
        <!--</div>-->
        <div class="clearfix"></div>
      </form>
        <div class="modal-window" *ngIf="showSuccessAlert">
          <div class="modal-content">
            <div class="modal-header">
              <p class="modal-title">Your message has been sent. We will contact you soon :)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <!-- Classic Heading -->
        <h4 class="classic-title"><span>Information</span></h4>

        <!-- Divider -->
        <div class="hr1" style="margin-bottom:10px;"></div>

        <!-- Info - Icons List -->
        <ul class="icons-list">
          <li><i class="fa fa-globe"> </i> <strong>Address:</strong> 9 Hazova Str, Lviv, Ukraine</li>
          <li><i class="fa fa-skype"></i> <strong>Skype:</strong> yevheniy.potupa</li>
          <li><i class="fa fa-mobile"></i> <strong>Phone:</strong> +38(095)281-66-78</li>
        </ul>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10537740.757468168!2d15.058001642727477!3d49.84827053845158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add0b3e2d327b%3A0x75d5338515144ef3!2z0LLRg9C70LjRhtGPINCT0LDQt9C-0LLQsCwgOSwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1suk!2sua!4v1509581842159" width="100%" height="340px" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
    </div>
  </div>

  <div class="clearfix"></div>

</div>
<app-footer></app-footer>

