/*------------------------------------------*/
/*	     01 - General & Basic Styles
/*------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #666;
}
a, a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  transition: color 0.2s ease-in-out;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button:hover {
  cursor: pointer;
}
